<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mangagent.dao.EnterpriseArchivesDao">
   <!-- 查询企业 -->
 
   <resultMap type="EnterpriseArchives" id="EnterpriseMap" autoMapping="true">
   		<id column="coId" property="coId"/>
   		<collection property="subcompanyArchives" javaType="java.util.List" ofType="org.mangagent.pojo.SubcompanyArchives" column="coId" select="org.mangagent.dao.SubcompanyArchivesDao.getByEnterpriseArchivesId"></collection>
   </resultMap>
  
 
   <resultMap type="org.mangagent.pojo.EnterpriseArchives" id="EnterpriseMap" autoMapping="true">
   		<id column="coId" property="coId"/>
   		<collection property="subcompanyArchives" javaType="java.util.List" ofType="org.mangagent.pojo.SubcompanyArchives" column="coId" select="org.mangagent.dao.SubcompanyArchivesDao.getByEnterpriseArchivesId"></collection>
   </resultMap>
 
	<select id="getById" parameterType="java.lang.Integer" resultMap="EnterpriseMap">
		SELECT `coId`,`coName`,`coBrand`,`coIntroduction`,`coType`,`englistName`,`coAddress`,`coPhone`,`postalNumber`,`faxNumber`,`coWebsite`,`email`,`leganPerson`,`registrationTime`,`registrationMoney`,`number`,`taxNumber`,`openingBank`,`bankNumber` FROM tbl_enterprisearchives
		where coId=#{id}
	</select>
   
	
</mapper>