<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mangagent.dao.SubcompanyArchivesDao">
	
	<!-- 根据条件获得分页数据 -->
	 <select id="getListByCondition" resultType="SubcompanyArchives">
	 	SELECT `subId`,`subName`,`subintroduction`,`subAddress`,`postalCode`,`email`,`phone`,`fax`,`openingBank`,`bankNumber`,`remarks`  FROM tbl_subcompanyarchives
	 	
	 	<!-- 先排序在分页 -->
	 	order by ${column} ${orderBy}
	 	limit #{start},#{limit}
	 </select>
	 
	 <!-- 根据条件获得总数据 -->
	 <select id="getCountByCondition" resultType="java.lang.Integer">
	 	select count(1) FROM tbl_subcompanyarchives
	 </select>
	 
	 <!-- 添加子公司 -->
	 <insert id="add" parameterType="SubcompanyArchives" useGeneratedKeys="true" keyProperty="subId" keyColumn="subId">
	 	INSERT INTO `tbl_subcompanyarchives`(`subName`,`subintroduction`,`subAddress`,`postalCode`,`email`,`phone`,`fax`,`openingBank`,`bankNumber`,`remarks`) 
	 	VALUES (#{subName},#{subintroduction},#{subAddress},#{postalCode},#{email},#{phone},#{fax},#{openingBank},#{bankNumber},#{remarks}) 
	 </insert>
	 
	 <!-- 修改 -->
	 <update id="update" parameterType="SubcompanyArchives">
	 	update `tbl_subcompanyarchives`
	 	<set> 
	 		<if test="subName ! =null">subName=#{subName},</if>
	 		<if test="subintroduction ! =null">subintroduction=#{subintroduction},</if>
	 		<if test="subAddress ! =null">subAddress=#{subAddress},</if>
	 		<if test="postalCode ! =null">postalCode=#{postalCode},</if>
	 		<if test="email ! =null">email=#{email},</if>
	 		<if test="phone ! =null">phone=#{phone},</if> 
	 		<if test="fax ! =null">fax=#{fax},</if>
	 		<if test="openingBank ! =null">openingBank=#{openingBank},</if>
	 		<if test="bankNumber ! =null">bankNumber=#{bankNumber},</if>
	 		<if test="remarks ! =null">remarks=#{remarks},</if>
	 	</set>
	 </update>
	 
	<!-- 查询所属子公司 -->
	 <select id="getByEnterpriseArchivesId" parameterType="int" resultType="org.mangagent.pojo.SubcompanyArchives">
	 		SELECT * FROM `tbl_subcompanyarchives` WHERE `enterpriseArchivesId`=#{id}
	 </select>
	 
</mapper>